<div class="container">

<% @individual_post.each do |one| %>

    <div class="posts">

      <div><h6 class="bold">TOPIC: <%= "#{one['title']}" %></h6></div>
      <div><h6 class="bold">Posted by: <%= "#{one['name']}" %></h6></div>
      <div><h6 class="bold">POST: <%= "#{one['post']}" %></h6></div>
      <div><h6 class="bold">Discussion:</h6></div>

  <% if @individual_comments %>
    <% @individual_comments.each do |show| %>

      <% if show['post_id'].to_i == one['id'].to_i %>
        <div class="reply">
          <div class="namecomment"><%= "#{show['name']}" %>:</div> <div class="namecomment"><%= "#{show['comment']}" %></div>
        </div>
      <% end %> <!-- if show ends -->
    <% end %> <!-- individual do ends -->
  <% end %> <!-- if individial ends -->
<% end %> <!-- each ends -->
</div> <!-- posts -->
</div> <!-- container ends -->